<!doctype html>
<html lang="en" style="touch-action: manipulation;">
<head>
<title>page2</title>
<meta name="viewport" content="width = 1050, user-scalable = no" />
    <meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
</head>
<body>
    <img class="book-img">
    </body>
	
	 <script type="text/javascript" src="/javascripts/slider.js"></script>
</html>