<!doctype html>
<html lang="en" style="touch-action: manipulation;">
<head>
<title>page20</title>
<meta name="viewport" content="width = 1050, user-scalable = no" />
    <meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
</head>

    
<div id="all2"></div>
<div class="odd gradient"></div>

<div class="textPage" id="P20">
    
    <div id="texto8">
    
 <script type="text/javascript" src="javascripts/twentyText.js"></script>
</html>