<html lang="en" style="touch-action: manipulation;">
<div class="buttonSound"><img src="images/sound.png"></div>
<div class="odd gradient"></div>     

<div class="textPage">
<div id="texto2">

    </div>
</div>
 <script type="text/javascript" src="/javascripts/eightText.js"></script>
</html>