body{
	background-color:#fcfcfc;
	margin:0;
	padding:0;
    font-family: "VAGRounded";
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: 100% 140%;
    /*background-attachment: fixed;*/
	background-size: cover;
	height: 100vh;
}

#homeButton{
    margin-left: 10px;
    position: absolute;
    z-index: 2000;
    top: 2%;
}

#homeButton img{
    width: 80%;
    max-width: 150px;
}

.magazine-viewport .container{
	position:absolute;
	top:50%;
	left:50%;
	margin:auto;
}

.magazine-viewport .magazine{
    width:922px;
	height:600px;
	left:-461px;
	top:-30px;
}

.magazine-viewport .page{

    width:400px;
	height:550px;
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.magazine-viewport .zoomer .region{
	display:none;
}

.magazine .region{
	position:absolute;
	overflow:hidden;
	background:#0066FF;
	opacity:0.2;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
	cursor:pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
}

.magazine .region:hover{
	opacity:0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

.magazine .region.zoom{
	opacity:0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

.magazine .region.zoom:hover{
	opacity:0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
}

.magazine .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
    background-color: #FFF;

}

.magazine-viewport .page img{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0;


}

.magazine .even .gradient{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;

	background:-webkit-gradient(linear, left top, right top, color-stop(0.95, rgba(0,0,0,0)), color-stop(1, rgba(0,0,0,0.2)));
	background-image:-webkit-linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
	background-image:-moz-linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
	background-image:-ms-linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
	background-image:-o-linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
	background-image:linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
}

.magazine .odd .gradient{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;

	background:-webkit-gradient(linear, right top, left top, color-stop(0.95, rgba(0,0,0,0)), color-stop(1, rgba(0,0,0,0.15)));
	background-image:-webkit-linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
	background-image:-moz-linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
	background-image:-ms-linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
	background-image:-o-linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
	background-image:linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
}

.magazine-viewport .zoom-in .even .gradient,
.magazine-viewport .zoom-in .odd .gradient{

	display:none;

}

.magazine-viewport .loader{
	background-image:url(../pics/loader.gif);
	width:22px;
	height:22px;
	position:absolute;
	top:280px;
	left:219px;
}

.magazine-viewport .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
}


.previous-button{
	position:absolute;
    z-index: 123;
    left: 0%;
    top:80%;
    width: 10%;
}

.next-button{
	position:absolute;
    z-index: 123;
    top:80%;
    width: 10%;
    transform: scale(-1,1)
}



/*
.next-button img,
.previous-button img{
    width: 80%;

}
*/


.magazine-viewport .next-button{
	right:0px;
	-webkit-border-radius:0 15px 15px 0;
	-moz-border-radius:0 15px 15px 0;
	-ms-border-radius:0 15px 15px 0;
	-o-border-radius:0 15px 15px 0;
	border-radius:0 15px 15px 0;
    width: 200px
}

.magazine-viewport .previous-button{
	left:0px;
	-webkit-border-radius:15px 0 0 15px;
	-moz-border-radius:15px 0 0 15px;
	-ms-border-radius:15px 0 0 15px;
	-o-border-radius:15px 0 0 15px;
	border-radius:15px 0 0 15px;
    width: 100px
}


.zoom-in .next-button,
.zoom-in .previous-button{
	display:none;
}

.animated{
	-webkit-transition:margin-left 0.5s;
	-moz-transition:margin-left 0.5s;
	-ms-transition:margin-left 0.5s;
	-o-transition:margin-left 0.5s;
	transition:margin-left 0.5s;
}

.thumbnails{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:140px;
	z-index:1;
}

.thumbnails > div{
	width:1050px;
	height:100px;
	margin:20px auto;
}

.thumbnails ul{
	margin:0;
	padding:0;
	text-align:center;
	-webkit-transform:scale3d(0.5, 0.5, 1);
	-moz-transform:scale3d(0.5, 0.5, 1);
	-o-transform:scale3d(0.5, 0.5, 1);
	-ms-transform:scale3d(0.5, 0.5, 1);
	transform:scale3d(0.5, 0.5, 1);
	-webkit-transition:-webkit-transform ease-in-out 100ms;
	-moz-transition:-moz-transform ease-in-out 100ms;
	-ms-transition:-ms-transform ease-in-out 100ms;
	-o-transition:-o-transform ease-in-out 100ms;
	transition:transform ease-in-out 100ms;
}

.thumbanils-touch ul{
	-webkit-transform:none;
	-moz-transform:none;
	-o-transform:none;
	-ms-transform:none;
	transform:none;
}

.thumbnails-hover ul{
	-webkit-transform:scale3d(0.6, 0.6, 1);
	-moz-transform:scale3d(0.6, 0.6, 1);
	-o-transform:scale3d(0.6, 0.6, 1);
	-ms-transform:scale3d(0.6, 0.6, 1);
	transform:scale3d(0.6, 0.6, 1);
}

.thumbnails li{
	list-style:none;
	display:inline-block;
	margin:0 5px;
	-webkit-box-shadow:0 0 10px #ccc;
	-moz-box-shadow:0 0 10px #ccc;
	-ms-box-shadow:0 0 10px #ccc;
	-o-box-shadow:0 0 10px #ccc;
	box-shadow:0 0 10px  #ccc;
	-webkit-transition:-webkit-transform 60ms;
	-moz-transition:-webkit-transform 60ms;
	-o-transition:-webkit-transform 60ms;
	-ms-transition:-webkit-transform 60ms;
	transition:-webkit-transform 60ms;
}

.thumbnails li span{
	display:none;
}

.thumbnails .current{
	-webkit-box-shadow:0 0 10px red;
	-moz-box-shadow:0 0 10px red;
	-ms-box-shadow:0 0 10px red;
	-o-box-shadow:0 0 10px red;
	box-shadow:0 0 10px red;
}

.thumbnails .thumb-hover{
	-webkit-transform:scale3d(1.3, 1.3, 1);
	-moz-transform:scale3d(1.3, 1.3, 1);
	-o-transform:scale3d(1.3, 1.3, 1);
	-ms-transform:scale3d(1.3, 1.3, 1);
	transform:scale3d(1.3, 1.3, 1);

	-webkit-box-shadow:0 0 10px #666;
	-moz-box-shadow:0 0 10px #666;
	-ms-box-shadow:0 0 10px #666;
	-o-box-shadow:0 0 10px #666;
	box-shadow:0 0 10px #666;
}

.thumbanils-touch .thumb-hover{
	-webkit-transform:none;
	-moz-transform:none;
	-o-transform:none;
	-ms-transform:none;
	transform:none;
}

.thumbnails .thumb-hover span{
	position:absolute;
	bottom:-30px;
	left:0;
	z-index:2;
	width:100%;
	height:30px;
	font:bold 15px arial;
	line-height:30px;
	color:#666;
	display:block;
	cursor:default;
}

.thumbnails img{
	float:left;
}

.exit-message{
	position: absolute;
	top:10px;
	left:0;
	width:100%;
	height:40px;
	z-index:10000;
}

.exit-message > div{
	width:140px;
	height:30px;
	margin:auto;
	background:rgba(0,0,0,0.5);
	text-align:center;
	font:12px arial;
	line-height:30px;
	color:white;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
}

.zoom-icon{
	position:absolute;
	z-index:1000;
	width:22px;
	height:22px;
	top:10px;
	right:10px;
	background-image:url(../pics/zoom-icons.png);
	background-size:88px 22px;
}

.zoom-icon-in{
	background-position:0 0;
	cursor: pointer;
}

.zoom-icon-in.zoom-icon-in-hover{
	background-position:-22px 0;
	cursor: pointer;
}

.zoom-icon-out{
	background-position:-44px 0;
}

.zoom-icon-out.zoom-icon-out-hover{
	background-position:-66px 0;
	cursor: pointer;
}

.bottom{
	position:fixed;
	left:0;
	bottom:5%;
	width:100%;
    z-index: 35;
}

/*DIEGO*/
.textPage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 80%;
    margin: 0 auto;
    font-size: 1.3em;
    color: #3f7487;
    text-align: center;
    background-color: white;
    padding: 10px;
}

.book-img{
    height: 100%;
    width: 100%;
    position:relative;
    background-repeat: no-repeat;
    background-size: 100%;
}
.book-img3{
    height: 100%;
    width: 100%;
    position:relative;
    background-repeat: no-repeat;
    background-size: 100%;
}
.book-img4{
    height: 100%;
    width: 100%;
    position:relative;
    background-repeat: no-repeat;
    background-size: 100%;
}
.book-img5{
    height: 100%;
    width: 100%;
    position:relative;
    background-repeat: no-repeat;
    background-size: 100%;
}
.book-img7{
    height: 100%;
    width: 100%;
    position:relative;
    background-repeat: no-repeat;
    background-size: 100%;
}
.book-img9{
    height: 100%;
    width: 100%;
    position:relative;
    background-repeat: no-repeat;
    background-size: 100%;
}
.book-img11{
    height: 100%;
    width: 100%;
    position:relative;
    background-repeat: no-repeat;
    background-size: 100%;
}
.book-img13{
    height: 100%;
    width: 100%;
    position:relative;
    background-repeat: no-repeat;
    background-size: 100%;
}
.book-img15{
    height: 100%;
    width: 100%;
    position:relative;
    background-repeat: no-repeat;
    background-size: 100%;
}
.book-img17{
    height: 100%;
    width: 100%;
    position:relative;
    background-repeat: no-repeat;
    background-size: 100%;
}
.book-img18{
    height: 100%;
    width: 100%;
    position:relative;
    background-repeat: no-repeat;
    background-size: 100%;
}
.book-img19{
    height: 100%;
    width: 100%;
    position:relative;
    background-repeat: no-repeat;
    background-size: 100%;
}
.book-img20{
    height: 100%;
    width: 100%;
    position:relative;
    background-repeat: no-repeat;
    background-size: 100%;
}
.userName{

  color: black;
  font-size: 16.5px;
  position: absolute;
  top: 39%;
  left: 41%;
  transform: translate(-50%, -50%);
  -webkit-margin-before: -.2em;
  -webkit-margin-after: 5em;
  -webkit-margin-start: -10px
}
.fireFoxUser{

  color: black;
  font-size: 16.5px;
  position: absolute;
  top: 37%;
  left: 41%;
  transform: translate(-50%, -50%);
  -webkit-margin-before: -.2em;
  -webkit-margin-after: 5em;
  -webkit-margin-start: -10px
}
.zoomUserName{

  color: black;
  font-size: 40px;
  position: absolute;
  top: 39.3%;
  left: 42%;
  transform: translate(-50%, -50%);
  -webkit-margin-before: -.2em;
  -webkit-margin-after: 5em;
  -webkit-margin-start: -10px
}
.blast-root{
    word-spacing: -7px;
}

#userContainer{

    transform: rotate(-6deg);
}

.oona-text{
    color: #FF5180;
}

.oof-text{
    color: #0096FF;
}

.entry-title{

}

 .blast::after{
    color: #FFF;
    background-size: 200%;
    background-position: 0 0;
    transition: 0.3s ease-in-out;
    background-color: #ffffff;
    background-position: -100%;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: -1;
}
.textPage{
    overflow: hidden;
}
.blast-root{
    overflow: hidden;
}
.blast{
    position:relative;
    color: rgb(63,116,135);
    overflow: hidden;
	padding: 0 5px;
    box-sizing: border-box;
}

.newColor{
    position:relative;
     color: rgb(254,254,254);
	 background-color: blue;
}
.jis{
	color: red;
}

.newColor:after{
    /* background-color: blue;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
	top: 0;
    left: 0;
    z-index: -1; */
/*    background: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 255, 1.0) 50%);*/
}
.play{background: url('../images/Play.png') ;
    background-size: contain;
	background-repeat: no-repeat;
	background-position: center;}
.pause{background: url('../images/Pause.png') ;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.timeline-style{
	background: rgba(250,250,250,1);
	border-radius: 15px;
    border: 3px solid #7545AB;
    box-shadow: 0px 5px 0px #452B69;
}

#timeLineBar{
 	width: 0%;
    height: 90%;
    left: 0%;
	background: #4BEFFF;
    margin: 0 auto;
	border-radius: 15px 0px 0px 15px;
    position: fixed;

}
.languageButton{
    position: absolute;
    top: 1%;
    right: 5%;
    z-index: 1000;
}
.languageButton img{
    width: 90%;
    max-width: 150px;
}


.idiomas {
    background-color: #7737a5;
    position: absolute;
    top: 0%;
    display: none;
    width: 50%;
    top: 15%;
    text-align: center;
    left: 50%;
    transform: translate(-50%,0%);
    padding: 2vh;
    color: #FFF;
    font-size: 3vw;
    border-radius: 2vh;
     z-index: 1000;
}

.overLanguage:hover {
    background-color: #9240ce;
    border-radius: 2vh;
}

/*Draggable Playhead*/
.playhead{
    cursor: pointer;
    width: 20px !important;
    height: 20px !important;
    border-radius: 50%;
    margin-top: -10px;
    background: #CB8DFF;
    border: 3px solid #7545AB;
}

#sectionPlayButton{
    text-align: center;
}

#activeNext{
    display: none;
    position: absolute;
    left:50%;
}

/*PASTAS TIPO LIBRO*/

.magazine .p1{
	background-color:aqua;
/*	background-image:url(../bookpages/1.png) !important;*/
}

.magazine .p1{
	background-position:0 0;
}

.magazine .p1 .side{

	background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #bbb), color-stop(0.5,  #ddd), color-stop(1,  #bbb));
	background-image:-webkit-linear-gradient(left, #bbb, #ddd, #bbb);
	background-image:-moz-linear-gradient(left, #bbb, #ddd, #bbb);
	background-image:-ms-linear-gradient(left, #bbb, #ddd, #bbb);
	background-image:-o-linear-gradient(left, #bbb, #ddd, #bbb);
	background-image:linear-gradient(left, #bbb, #ddd, #bbb);

	-webkit-transform:rotateY(-90deg);
	-moz-transform:rotateY(-90deg);
	-o-transform:rotateY(-90deg);
	-ms-transform:rotateY(-90deg);
	transform:rotateY(-90deg);

	-webkit-transform-origin:top right;
	-moz-transform-origin:top right;
	-o-transform-origin:top right;
	-ms-transform-origin:top right;
	transform-origin:top right;
	z-index:100000;

}

.magazine-transform div[page="1"] > div, .magazine-transform div[page="2"] > div{
	overflow:visible !important;
}

.magazine .depth{
	background-image:url(../pics/pages-depth.png);
	position:absolute;
	top:7px;
	width:16px;
	height:96%;
}

.magazine .front-side .depth{
	left:4px;
	background-position:0 0;
}

.magazine .back-side .depth{
	right:4px;
	background-position:right 0;
}


.magazine .p2{
    	/*background-image:url(../bookpages/2.png) !important;*/

}

.magazine .p3{
    	/*background-image:url(books/"+id+"/3ES.png) !important;*/

}
.magazine .p4{
    	/*background-image:url(books/"+id+"/3ES.png) !important;*/

}

.magazine .p5{
/*    	background-image:url(../bookpages/5.png) !important;*/

}


.magazine .p19{
    	/* background-image:url(../bookpages/19.png) !important;*/

}
.magazine .p20{
    	/*background-image:url(../bookpages/20.png) !important;*/

}
.magazine .hard{
    width:480px;
	height:600px;
	background-color:transparent;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	-ms-box-shadow:none;
	box-shadow:none;
}

.magazine .page-wrapper{
	-webkit-perspective:2000px;
	-moz-perspective: 2000px;
	-ms-perspective: 2000px;
	perspective: 2000px;
}


.magazine .own-size{
	overflow:hidden;
    width: 442px;
    height: 580px;
}

/*Sound Buttons*/
.buttonSound{
    position: absolute;
    width: 20%;
    left: 50%;
    transform: translate(-50%,0%);
    bottom: 0;
}
.buttonSound img{
    width: 60%;
}

.animation1 {
          width: 115px;
          height: 111px;
          margin: 0% auto;
          background: url('../images/115x11_27f_24fps.png') left center;
          animation: play .8s steps(23) infinite;
        }

        @keyframes play {
        100% {
		  background-position: -2645px;
	   }


        }
